<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Urna</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Urna.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="Menu">
            <div id ="sub_menu">
                <a id="Nome_Projeto" asp-area="" asp-controller="Home" asp-action="Index">Urna</a>
                <a id="home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a id="Dahsboard" asp-area="" asp-controller="Home" asp-action="dashboard">Dashboard</a>
               
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div id="des_footer">
            &copy;2022 - Urna - <a id="next_page" asp-area="" asp-controller="Home" asp-action="dashboard">dashboard</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
