@{
    ViewData["Title"] = "Urna De Votação";
}

<style>
    corpo{

    }
</style>
<div id="corpo" 
    style="
    height: 531px; 
    margin-left:-125px; 
    width:1366px; 
    margin-top:-16px; 
    background-color: #a9a9a9"
>

    
</div>